<!DOCTYPE html>
{% extends "blog/base.html" %} {% block content %}
<div class="container-lg container-fluid py-1">
  <h1>About</h1>
  <p>This is a clone blog project using Django, Bootstrap and medium-editor.</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure rem nobis
    optio ut reiciendis blanditiis. Perspiciatis, animi hic. Mollitia saepe nisi
    facilis, est id aut odit. Aliquid sed nihil minus. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Sint, aliquam veritatis tenetur
    accusantium odio voluptatibus accusamus odit, hic placeat, cupiditate
    molestias quae debitis. Omnis dolorum rem sed cumque expedita fugit? Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Cumque explicabo eum
    ipsum, velit inventore et nisi necessitatibus accusantium at quia ipsa
    sapiente. Nihil inventore vel enim provident modi a illum? Lorem ipsum dolor
    sit amet consectetur, adipisicing elit. Ad in at amet dolor ipsum quas
    consequuntur voluptatem porro nulla. Voluptatem beatae quis cumque
    praesentium, dolorum dolore cum ut voluptates non. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Delectus, a eum hic vel, fugit laboriosam
    cum dolores nulla reiciendis quisquam totam nihil adipisci. Perspiciatis
    corporis vero qui neque, inventore quas?
  </p>
</div>
{% endblock %}
